
    <h1>Posts</h1>
    <table id="">
      <% for (var i in posts) { %>
        <tr>
          <td><a href="/posts/<%= posts[i].id %>" class="button"><%= posts[i].title %></a>AUTHOR: <%= posts[i].authorId.name %></td>
        </tr>
      <% } %>
      
    </table>

    <% if (locals.paginate_control) { %>
      <%- paginate_control %>
    <% } %>

