
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <a href="/users" class="button">LISTADO DE USUARIOS</a>
    <a href="/posts" class="button">LISTADO DE POSTS</a>
    <a href="/posts/new" class="button">NUEVO POST</a>

