body {
    background: #999;
}

#page:after {
    color: white;
}

#mainNav {
    flex: 0 auto;
}

#mainNav a {
    display: block;
    text-align: left;
}

#mainSection {
    flex: 1;
    overflow: auto;
}
